*
{ margin: 0;
  padding: 0;}

body
{ font: normal 80% arial, sans-serif;
  background: #1C051F;
  color: #FFF;}

p
{ padding-bottom: 20px;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ font: bold 175% arial, sans-serif;
  color: #802954;
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding-top: 15px;}

h2
{ font: bold 165% arial, sans-serif;}

h3
{ font: bold 125% arial, sans-serif;
  padding-bottom: 5px;
  color: #802954;}

h4, h5, h6
{ margin: 0;
  padding-bottom: 5px;
  font: bold 110% arial, sans-serif;
  color: #1D1D1D;
  line-height: 1.5em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #1D1D1D;
  padding-bottom: 15px;}

h6
{ color: #362C20;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #FF1DFF;}

a:hover
{ text-decoration: underline;
  color: #FF5DFF;}

ul
{ margin-top: 2px;
  margin-bottom: 22px;}

ul li
{ margin-top: 2px;
  margin-bottom: 15px;
  margin-left: 32px;}

ol
{ margin-top: 8px;
  margin-bottom: 22px;}

ol li
{ margin-bottom: 11px;
  margin-left: 32px;}

blockquote
{ padding-left: 25pt;
  padding-right: 25pt;
  font-style: italic;}

#main, #header, #banner, #menubar, #site_content, #footer, #contact, #menu_container
{ margin-left: auto;
  margin-right: auto;}

#header
{ width: 90%;
  background: transparent;
  text-align: center;}

#site_content
{ width: 90%;
  overflow: hidden;
  background: transparent url(../images/transparent.png) repeat;}

#header H1
{ width: 100%;
  font: normal 450% arial, sans-serif;
  color: #A93973;
  letter-spacing: -4px;
  background: transparent;}

span
{ color: #FFF;}

#header H2
{ width: 100%;
  font: normal 160% arial, sans-serif;
  color: #FFF;
  letter-spacing: -1px;
  margin-top: -5px;
  background: transparent;}

#menu_container
{ width: 100%;}

#menubar
{ width: 100%;
  background: transparent;}

#menubar ul {
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

#menubar li {
  float: left;
  list-style: none;
}

#menubar li a {
  font: bold 120% arial, sans-serif;
  text-decoration: none;
  color: #FFF;
  z-index: 10;
  display: block;
  padding-top: 5px;
  padding-right: 18px;
  padding-left: 18px;
  position: relative;
}

#menubar li a:hover, #menubar li a:active {
  border: none;
  text-decoration: underline;
}

#menubar li a:active {
  color: #FF1DFF;
}

#content
{ text-align: left;
  width: 100%;}

.content_item
{ width: 96%;
  margin-right: 2%;
  margin-bottom: 20px;
  margin-left: 2%;
  float: left;}

.content_image
{ width: 40%;
  padding-right: 2%;
  padding-bottom: 20px;
  float: left;}

.content_image img
{ width: 100%;}

#footer
{ width: 90%;
  font: normal 100% arial, sans-serif;
  margin-bottom: 10px;
  padding-top: 20px;
  text-align: center;
  background: transparent;
  color: #FFF;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: underline;}

#footer a:hover
{ text-decoration: none;}

